<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="hpKeyBox" value="F9"/>
		<add key="spKeyBox" value="F9"/>
		<add key="panaceaBox" value="F9"/>
		<add key="fireProofKey" value="F9"/>
		<add key="coldProofKey" value="F9"/>
		<add key="thunderProofKey" value="F9"/>
		<add key="earthProofKey" value="F9"/>
		<add key="aloeKey" value="F9"/>
		<add key="resentKey" value="F9"/>
		<add key="holyKey" value="F9"/>
		<add key="shieldKey" value="F9"/>
		<add key="weaponKey" value="F9"/>
		<add key="upperHgKey" value="F9"/>
		<add key="armorKey" value="F9"/>
	</appSettings>
</configuration>
