<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="hpKeyBox" value="F9"/>
		<add key="spKeyBox" value="F9"/>
		<add key="panaceaBox" value="F9"/>
		<add key="fireProofKey" value="F9"/>
		<add key="coldProofKey" value="F9"/>
		<add key="thunderProofKey" value="F9"/>
		<add key="earthProofKey" value="F9"/>
		<add key="aloeKey" value="F9"/>
		<add key="resentKey" value="F9"/>
		<add key="holyKey" value="F9"/>
		<add key="shieldKey" value="F9"/>
		<add key="weaponKey" value="F9"/>
		<add key="upperHgKey" value="F9"/>
		<add key="armorKey" value="F9"/>
		<add key="hp2KeyBox" value="F9"/>
		<add key="hp3KeyBox" value="F9"/>
		<add key="strKey" value="F9"/>
		<add key="peonyBox" value="F9"/>
		<add key="agiKey" value="F9"/>
		<add key="vitKey" value="F9"/>
		<add key="dexKey" value="F9"/>
		<add key="intKey" value="F9"/>
		<add key="lukKey" value="F9"/>
		<add key="defKey" value="F9"/>
		<add key="mdefKey" value="F9"/>
		<add key="daehKey" value="F9"/>
		<add key="taeKey" value="F9"/>
		<add key="concentKey" value="F9"/>
		<add key="awakeKey" value="F9"/>
		<add key="anodyneKey" value="F9"/>
		<add key="botKey" value="F9"/>
	    <add key="cursedKey" value="F9"/>
		<add key="speedKey" value="F9"/>
	</appSettings>
</configuration>
